body {
  background-color: #15202b;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17a2b8;
}
.patients {
  margin: 50px;
  color: aliceblue;
  font-size: larger;
  box-shadow: 3px 3px red, -1em 0 0.4em olive;
}
